@import "./light.scss";
@import "./dark.scss";

//下面是一些覆盖全局的或自定义扩展的样式


//首页大Logo
.home .hero img{
  max-height: 200px;
  @media screen and (max-width :576px) {
      height: 130px;
  }
}

//首页亮点介绍
.home .feature{
  flex-basis: 45%;
  max-width: 45%;
}
//markdown相关
blockquote{
  //color: #333;
  padding: 0.8rem  1rem;
  border-left:0.4rem solid var(--c-brand);
  background-color: var(--c-tip-bg)
}
